{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Nossos Serviços</h1>
        <div class="service">
            <h2>Desenvolvimento de Software Personalizado</h2>
            <p>Analisamos as necessidades do seu negócio para criar soluções de software que melhore a eficiência e tempo.</p>
        </div>
        <div class="service">
            <h2>Criação de Aplicações Web</h2>
            <p>Desenvolvemos aplicações web, desde o front-end até o back-end. Para uma melhor experiência ao usuário.</p>
        </div>
        <div class="service">
            <h2>Desenvolvimento de Aplicativos Mobile</h2>
            <p>Projetamos e desenvolvemos aplicativos, focados em usabilidade e performance.</p>
        </div>
        <div class="service">
            <h2>Manutenção</h2>
            <p>Oferecemos serviço de manutenção para garantir que suas aplicações estejam sempre atualizadas.</p>
        </div>
    </div>
{% endblock %}