{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Sobre Nós</h1>
        <p>Criamos softwares, aplicações e sistemas, nossa missão é otimizar a sua operação. Com conhecimento em logística, desenvolvemos soluções personalizadas que simplificam processos, aumentam a eficiência e geram resultados para seu nogócio.</p>

     <div class="contato-direto" style="margin-top: 30px; text-align: center;">
            <h3>Entre em contato conosco.</h3>
            <p><strong>WhatsApp:</strong> <a href="https://wa.me/5511922014518" target="_blank">(11) 92201-4518</a></p>
            <p><strong>E-mail:</strong> <a href="mailto:vtrproga@gmail.com">vtrproga@gmail.com</a></p>
        </div>
    </div>
{% endblock %}